# IMDb Top 1,000 Movies - Data Cleaning

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

##### <div class="alert-warning">Data Source: https://www.kaggle.com/datasets/ramjasmaurya/top-250s-in-imdb</div>

In [2]:
df = pd.read_csv('imdb (1000 movies) in june 2022.csv', index_col=0)
df.head(1)

,movie name\r\n,Year,certificate,runtime,genre,RATING,metascore,DETAIL ABOUT MOVIE\n,DIRECTOR\r\n,ACTOR 1\n,ACTOR 2\n,ACTOR 3,ACTOR 4,votes,GROSS COLLECTION\r\n
ranking of movie,,,,,,,,,,,,,,,
1,The Shawshank Redemption,-1994,15,142 min,Drama,9.3,81.0,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,"2,603,314",$28.34M

In [3]:
#normalize column names
df.columns.values[[0,7,8,9,10,-1]] = ['name','details','director','actor 1','actor 2','gross']
df.columns = df.columns.str.lower()
df.index.name = 'IMDb ranking'

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1,000.00
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         1000 non-null   object
 1   year         1000 non-null   object
 2   certificate  995 non-null    object
 3   runtime      1000 non-null   object
 4   genre        1000 non-null   object
 5   rating       1000 non-null   float64
 6   metascore    837 non-null    float64
 7   details      1000 non-null   object
 8   director     1000 non-null   object
 9   actor 1      1000 non-null   object
 10  actor 2      1000 non-null   object
 11  actor 3      1000 non-null   object
 12  actor 4      1000 non-null   object
 13  votes        1000 non-null   object
 14  gross        820 non-null    object
dtypes: float64(2), object(13)
memory usage: 125.0+ KB

In [5]:
df.year.value_counts().sort_index()

(I) (1985)     1
(I) (1995)     1
(I) (2001)     1
(I) (2004)     3
(I) (2007)     1
              ..
-2018         19
-2019         24
-2020          7
-2021         10
-2022          5
Name: year, Length: 121, dtype: int64

In [6]:
#remove dashes from year
df.year = df.year.str[1:]
#convert year column to string
df['year'] = df['year'].astype('string')
#remove parentheses and roman numerals from year column
rowstofix = df[df.year.str.endswith(")")].index.values
for a in rowstofix:
    df.year[int(a)-1] = df.year[int(a)-1][-5:-1]
#convert year column to int
df['year'] = df['year'].astype('int')

In [7]:
#change NaNs in certificate column to 'Not Rated'
df['certificate'] = df['certificate'].replace(np.nan,'Not Rated')

In [8]:
#remove 'min' from runtime column
df.runtime = df.runtime.str[:-4]
#convert runtime column to int
df['runtime'] = df['runtime'].astype(int)

In [9]:
#replace NaNs with zeroes in metascore column
df['metascore'] = df['metascore'].replace(np.nan, 0)

In [10]:
#remove commas from votes column
df['votes'] = df['votes'].str.replace(",","")
#convert votes column to int
df['votes'] = df['votes'].astype('int')

In [11]:
#remove $ and M from gross column
df['gross'] = df.gross.str[1:-1]
#convert gross column to float
df['gross'] = df['gross'].astype('float')
#change NaNs in gross column to zeroes
df['gross'] = df['gross'].replace(np.nan, 0)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1,000.00
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         1000 non-null   object
 1   year         1000 non-null   int64
 2   certificate  1000 non-null   object
 3   runtime      1000 non-null   int64
 4   genre        1000 non-null   object
 5   rating       1000 non-null   float64
 6   metascore    1000 non-null   float64
 7   details      1000 non-null   object
 8   director     1000 non-null   object
 9   actor 1      1000 non-null   object
 10  actor 2      1000 non-null   object
 11  actor 3      1000 non-null   object
 12  actor 4      1000 non-null   object
 13  votes        1000 non-null   int64
 14  gross        1000 non-null   float64
dtypes: float64(3), int64(3), object(9)
memory usage: 157.3+ KB

In [13]:
df.head(1)

,name,year,certificate,runtime,genre,rating,metascore,details,director,actor 1,actor 2,actor 3,actor 4,votes,gross
IMDb ranking,,,,,,,,,,,,,,,
1,The Shawshank Redemption,1994,15,142,Drama,9.3,81.0,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2603314,28.34

In [15]:
df.to_csv("IMDb Top 1k.csv", index=True)